## App Defaults
APP_NAME=JARVISv7
JARVIS_LANGUAGE=english

## Local LLM intent (llama.cpp)
USE_LOCAL_MODEL=true
LLM_MODEL_MODE=dev
LLM_MODEL_POLICY=auto
LLM_MODEL_ID=

## Use Local Ollama intent
USE_OLLAMA=false
OLLAMA_MODEL=phi4-mini

## Optional Services
# Redis Cache (requires Docker)
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
# SearXNG Search (requires Docker)
USE_SEARXNG=false
SEARXNG_PORT=8888
# Duck-Duck-Go Search (has usage limits)
USE_DDGS=true
# Tavily Search (requires an API key)
USE_TAVILY=false
TAVILY_API_KEY=

## App Paths
DATA_PATH=data/
CONFIG_PATH=config/
MODEL_PATH=models/
STT_MODELS=models/stt
TTS_MODELS=models/tts
WAKE_MODEL=models/wake

## Optional wake word (available, not typical)
PICOVOICE_ACCESS_KEY=
